<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="pautlist()">
      <ion-button>
        <ion-icon name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pauta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="cinza-claro">
    <ion-card-header>
      <ion-card-title>
        {{assunto}}
      </ion-card-title>
      <h6>{{status}}</h6>
      <h6>ID do síndico:{{pautas_sindico_id}}</h6>
      <h6>ID da pauta:{{pauta_id}}</h6>
    </ion-card-header>
    <ion-card-content>
      <h2>{{conteudo}}</h2><br>

        <div class="flex_center">

          <ion-button id="flex_center" color="success" *ngFor="let voto of votacao">
            <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
            Sim:{{voto.cont_votosim}}
          </ion-button>


          <ion-button id="flex_center" color="success" *ngFor="let voto of votacao">
            <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
            Não:{{voto.cont_votonao}}
          </ion-button>
        </div>
      

    </ion-card-content>
  </ion-card>

  <div>
    <ion-button id="admbutton1" expand="block" color="success"
      (click)="enviareditsin(pauta_id, assunto, conteudo, status, pautas_sindico_id)">
      Editar
    </ion-button>
  </div>

  <div>
    <ion-button id="admbutton1" expand="block" color="success" (click)="excluirpaut(pauta_id)">
      Excluir
    </ion-button>
  </div>

</ion-content>