/*.avancar{
    border: solid 1px #152D35;
    border-radius: 5px;
    margin: none;
    color: white;
    margin: 15px;
    border-style: groove;
    background: #152D35;
    speed: 400s;
}*/

ion-card-subtitle{
    color:black;
    font-size: 17px;
    margin:30px
}

ion-card{
    padding: 15px;
}

.alertar{
    color: rgb(139, 29, 29);
    padding: 5px;
    font-size: 15px;
}