<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="userhome()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Histórico de Mensagens</ion-title>
  </ion-toolbar>
</ion-header>


<ion-row class="success padding-lateral">
  <ion-input placeholder="Buscar" [(ngModel)]="mensagem" type="search" (input)="carregar()"></ion-input>

  <ion-buttons (click)="carregar()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>


  <ion-content class="cinza-claro" class="ion-padding">
    <ion-card>
        <ion-item *ngFor="let mensagem of historico">
          <ion-card-content>
            <h2>{{mensagem.mensagem}}</h2><br>
            <h6>Data: {{mensagem.dia}}</h6>
            <h6>Hora: {{mensagem.hora}}</h6>
           </ion-card-content>
        </ion-item>
    </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
