<ion-header>
  <ion-toolbar color="success">
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row class="success padding-lateral">
  <ion-input placeholder="Buscar" [(ngModel)]="assunto" type="search" (input)="carregar()"></ion-input>

  <ion-buttons (click)="carregar()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>

<ion-content>
  <ion-content class="cinza-claro" class="ion-padding">
    <ion-card *ngFor="let assunto of pautas">
        <ion-item >
          <ion-card-content>
            <h2>{{assunto.assunto}}</h2><br>
            <h2>{{assunto.pauta_id}}</h2><br>

            <div class="flex_center">

            <ion-button id ="flex_center" color="success">
                  <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                  Sim: {{assunto.cont_sim}}
            </ion-button>

          
          <ion-button  id ="flex_center" color="success">
              <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
                  Não: {{assunto.cont_nao}}
          </ion-button>
        </div>

           </ion-card-content>
        </ion-item>
    </ion-card>
</ion-content>
 
