<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="userhome()">
      <ion-button>
        <ion-icon name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Resultado das Pautas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row class="success padding-lateral">
  <ion-input placeholder="Buscar" [(ngModel)]="assunto" type="search" (input)="carregarresultados(pauta_id)"></ion-input>

  <ion-buttons (click)="carregarresultados(pauta_id)">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>

<ion-button size="small" color="success" (click)="pautasavaliacao()">Pautas em Avaliação</ion-button>
<ion-button size="small" color="success" (click)="pautfechadas()">Pautas Fechadas</ion-button>
<ion-button size="small" color="success" (click)="pautasabertas()">Pautas Abertas</ion-button>
  

  <ion-content class="cinza-claro" class="ion-padding">

        <ion-card *ngFor="let assunto of pautas">
          <ion-item>
            <ion-card-content>
              <h1>{{assunto.assunto}}</h1><br>
              <h2>ID da pauta: {{assunto.pauta_id}}</h2><br>
              <p> {{assunto.conteudo}}</p><br>

              <div class="flex_center">

                <ion-button id="flex_center" color="success">
                  <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
                  Sim: {{assunto.cont_votosim}}
                </ion-button>
          
          
                <ion-button id="flex_center" color="success">
                  <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
                  Não: {{assunto.cont_votonao}}
                </ion-button><br>

              </div>

            </ion-card-content>
          </ion-item>
        </ion-card>


    


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
 
