<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="homesind()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pautas em Avaliação</ion-title>
  </ion-toolbar>
</ion-header>


<ion-row class="success padding-lateral">
  <ion-input placeholder="Buscar" [(ngModel)]="assunto" type="search" (input)="carregaravaliacao()"></ion-input>

  <ion-buttons (click)="carregaravaliacao()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>

    <ion-button size="small" color="success" (click)="resultados()">Resultados</ion-button>
    <ion-button size="small" color="success" (click)="pautfechadas()">Pautas fechadas</ion-button>
    <ion-button size="small" color="success" (click)="pautasabertas()">Pautas abertas</ion-button>

  <ion-content class="cinza-claro" class="ion-padding">

    <ion-list>
        <ion-item-sliding *ngFor="let assunto of pautas">

          <ion-item>
          <ion-label (click)="mostrar(assunto.pauta_id, assunto.assunto, assunto.conteudo, assunto.status, assunto.pautas_sindico_id)">
            {{assunto.assunto}}</ion-label>
          </ion-item>

        </ion-item-sliding>
    </ion-list>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


