<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="login()">
      <ion-button>
        <ion-icon name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container top">
    <ion-segment (ionChange)="segmentChanged($event)" value="valuesSelectes" color= "#152D35">
    <ion-segment-button value="1">
    <ion-label>Morador</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Síndico</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


<ion-slides>
<ion-slide *ngIf = "valuesSelectes == 1">
  <ion-card>
    <ion-card-header>
      <div class="flex-center">
        <ion-card-title>Cadastrar Morador</ion-card-title>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating"> Nome completo </ion-label>
        <ion-input [(ngModel)]="nome"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Bloco:</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="bloco">
          <ion-select-option value="Bloco A">A</ion-select-option>
          <ion-select-option value="Bloco B">B</ion-select-option>
          <ion-select-option value="Bloco C">C</ion-select-option>
          <ion-select-option value="Bloco D">D</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Apartamento </ion-label>
        <ion-input type="number"[(ngModel)]="apartamento"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Usuario </ion-label>
        <ion-input type="text"[(ngModel)]="usuario"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Senha </ion-label>
        <ion-input type="password" [(ngModel)]="senha"> </ion-input>
      </ion-item>

      <ion-button *ngIf="!morador_id" color="success" expand="block" (click)="cadastrar()">
        Cadastrar
      </ion-button>

      <ion-button *ngIf="morador_id" color="success" expand="block" (click)="editar()">
        Editar
      </ion-button>
    </ion-card-header>
  </ion-card>
  </ion-slide>

  <ion-slide *ngIf = "valuesSelectes == 2">
    <ion-card>
      <ion-card-header>
        <div class="flex-center">
          <ion-card-title>Cadastrar Síndico</ion-card-title>
        </div>
        <br>
        <ion-item>
          <ion-label position="floating"> Nome completo </ion-label>
          <ion-input [(ngModel)]="nome"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Condomínio </ion-label>
          <ion-input type="text"[(ngModel)]="condominio"> </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating"> Empresa Administradora </ion-label>
          <ion-input type="text"[(ngModel)]="administradora"> </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating"> Usuário </ion-label>
          <ion-input type="text"[(ngModel)]="usuario"> </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating"> Senha </ion-label>
          <ion-input [(ngModel)]="senha"> </ion-input>
        </ion-item>
  
        <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrarsin()">
          Cadastrar
        </ion-button>
  
        <ion-button *ngIf="id" color="success" expand="block" (click)="editarsin()">
          Editar
        </ion-button>
      </ion-card-header>
    </ion-card>
    </ion-slide>
</ion-slides>
</ion-content>
