<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="pautlist()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comunicado</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="black">
    <ion-card-header>
      <ion-card-title>
        {{assunto}}
      </ion-card-title>
      <p>{{status}}</p>
      <p>ID do síndico:{{comunicados_sindico_id}}</p>
      <p>ID do Comunicado:{{comunicado_id}}</p>
    </ion-card-header>
    <ion-card-content>
     <h2>{{conteudo}}</h2><br>

     <p>Data:{{data_enviado}}</p>
     <p>Hora:{{hora_enviado}}</p><br>
     
     
     <div class="flex_center">
      <ion-button id ="flex_center" color="success">
            <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
            {{cont_sinalizacoes}}
      </ion-button>
     </div>  

    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Sinalize Leitura:</ion-label>
    <ion-radio-group [(ngModel)]="sinal" (ionChange)="segmentChangedd($event)" name="sinal">
      <ion-item>
        <ion-label>
          Eu lí
          <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
        </ion-label>
        <ion-radio slot="end" value="li" color="success"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-item >
    <ion-label>Condômino:</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="segmentChanged($event)" [(ngModel)]="condomino">
      <ion-select-option *ngFor="let condominos of condominos" value="{{condominos.condomino_id}}">{{condominos.condnome}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha de condômino:</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>



  <ion-button expand="block" color="success" (click)="votecom(comunicado_id)">Enviar</ion-button>
  

  </ion-content>