<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="pautlist()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pauta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="cinza-claro">
    <ion-card-header>
      <ion-card-title>
        {{assunto}}
      </ion-card-title>
      <h6>{{status}}</h6>
      <h6>ID do síndico:{{pautas_sindico_id}}</h6>
      <h6>ID da pauta:{{pauta_id}}</h6>
    </ion-card-header>
    <ion-card-content>
     <h2>{{conteudo}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Vote em uma opção:</ion-label>
    <ion-radio-group [(ngModel)]="voto" (ionChange)="segmentChangedd($event)" name="voto">
      <ion-item>
        <ion-label>
          Sim
          <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
        </ion-label>
        <ion-radio slot="end" value="sim" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>
          Não
          <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
        </ion-label>
        <ion-radio slot="end" value="nao" color="success"></ion-radio>
      </ion-item>
    </ion-radio-group><br>
  </ion-item>

  <ion-item >
    <ion-label>Condômino:</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="segmentChanged($event)" [(ngModel)]="condomino">
      <ion-select-option *ngFor="let condominos of condominos" value="{{condominos.condomino_id}}">{{condominos.condnome}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha de condômino:</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>



  <ion-button expand="block" color="success" (click)="votecom(pauta_id)">Enviar</ion-button>
  

</ion-content>
