<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="homesind()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pautas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-row class="success padding-lateral">
  <ion-input placeholder="Buscar" [(ngModel)]="assunto" type="search" (input)="carregar()"></ion-input>

  <ion-buttons (click)="carregar()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>

<ion-item>
  <ion-label>Status:</ion-label>
  <ion-select placeholder="Selecione" [(ngModel)]="status">
    <ion-select-option value="p1"(click)="carregar()">Todos</ion-select-option>
    <ion-select-option value="aberto"(click)="carregarabertos()">Aberto</ion-select-option>
    <ion-select-option value="fechado"(click)="carregarfechados()">Fechado</ion-select-option>
  </ion-select>
</ion-item>

    <ion-button (click)="resultados()">Resultados</ion-button>

  <ion-content class="cinza-claro" class="ion-padding">

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="success" (click)="criacaopauta()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-item-sliding *ngFor="let assunto of pautas">

          <ion-item-options side="start">
            <ion-item-option color="success"
              (click)="editar(assunto.pauta_id, assunto.assunto, assunto.conteudo, assunto.status, assunto.pautas_sindico_id)">
              Editar
            </ion-item-option>
            <ion-item-option
            (click)="editarstatus(assunto.pauta_id, assunto.assunto, assunto.status, assunto.pautas_sindico_id)">
            Mudar Status
          </ion-item-option>
          </ion-item-options>

          <ion-item>
          <ion-label (click)="mostrar(assunto.pauta_id, assunto.assunto, assunto.conteudo, assunto.status, assunto.pautas_sindico_id)">
            {{assunto.assunto}}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="excluir(assunto.pauta_id)" color="danger">
              Excluir
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

