<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end" (click)="homecond()">
      <ion-button>
        <ion-icon name="home"></ion-icon> Sair
      </ion-button>
    </ion-buttons>
      <ion-title>Olá Síndico!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="cardmenu">
    <ion-card-header>
      <div class="flex-center">
        <ion-icon id="icon1" name="notifications-circle-outline" color="light"></ion-icon>
      </div>
      <ion-button id="admbutton1" fill="outline" expand="block" color="light" (click)="popupform()">
        Comunicados
      </ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card id="cardmenu">
    <ion-card-header>
      <div class="flex-center">
        <ion-icon id="icon1" name="people-circle-outline" color="light"></ion-icon>
      </div>
      <ion-button id="admbutton1" fill="outline" expand="block" color="light" (click)="assembleiaadm()">
        Pautas
      </ion-button>
    </ion-card-header>
  </ion-card>



  <ion-card id="cardmenu">
    <ion-card-header>
      <div class="flex-center">
        <ion-icon id="icon1" name="search-circle-outline" color="light"></ion-icon>
      </div>
      <ion-button id="admbutton1" fill="outline" expand="block" color="light" (click)="usuarios()">
        Usuários
      </ion-button>
    </ion-card-header>
  </ion-card>
  
</ion-content>
