<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="pautlist()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pauta em Avaliação</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="cinza-claro">
    <ion-card-header>
      <ion-card-title>
        {{assunto}}
      </ion-card-title>
      <h6>{{status}}</h6>
      <h6>ID do síndico:{{pautas_sindico_id}}</h6>
      <h6>ID da pauta:{{pauta_id}}</h6>
    </ion-card-header>
    <ion-card-content>
     <h2>{{conteudo}}</h2><br>
     
     <div class="flex_center">

      <ion-button id ="flex_center" color="success">
            <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
            Sim: 
      </ion-button>

    
    <ion-button  id ="flex_center" color="success">
        <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
            Não: 
    </ion-button>
  </div>

    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Status:</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="status">
      <ion-select-option value="avaliacao">Avaliação</ion-select-option>
      <ion-select-option value="resultado">Resultado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item >
    <ion-label>Síndico:</ion-label>
    <ion-select placeholder="Selecione" (ionChange)="segmentChanged($event)" [(ngModel)]="sindico">
      <ion-select-option *ngFor="let sindicos of sindicos" value="{{sindicos.sindico_id}}">{{sindicos.nome}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha de síndico:</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <div>
    <ion-button id="admbutton1" expand="block" color="success" (click)="editstatus(pauta_id)">
      Enviar
    </ion-button>
  </div>


  </ion-content>
