<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="Usuarios()">
      <ion-button>
        <ion-icon name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sindico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cinza-claro">
    <ion-card-header>
      <ion-card-subtitle>
        <h5>Morador:</h5>
      </ion-card-subtitle>
      <ion-card-title>
        {{nome}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <h2>Usuário: {{usuario}}</h2><br>
     <h2>Apartamento: {{apartamento}}</h2><br>
     <h2>Bloco: {{bloco}}</h2><br>
    </ion-card-content>
  </ion-card>
</ion-content>
